.squareEmpty {
  background-color: #888888;
  border: 2px solid;
}

.squareCross {
  background-color: #888888;
  border: 2px solid;
  justify-content: center;
  display: flex;
  align-items: center;
}

.squareCircle {
  background-color: #888888;
  border: 2px solid;
  justify-content: center;
  display: flex;
  align-items: center;
}

.squareCross img {
  border: 3px solid red;
  width: 100px;
}

.squareCircle img {
  border: 3px solid blue;
  border-radius: 80px;
  width: 100px;
}

.TicTacToe {
  display: grid;
  width: 500px;
  height: 500px;
  border: 2px solid;
}
